<!DOCTYPE html>
<html>
  <head>
   <title>Онлайн Магазин</title>
   <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= javascript_pack_tag "application"%>
  <%= csrf_meta_tag %>
   </head>
   <body class="<%= controller.controller_name %>">
   <div id="banner">
       <%= image_tag("CyberLeninka-logo.png", class:" logotip") %>
       <%= @page_title || "Pragmatic Bookshelf" %>
   </div>
   <div id="columns">
        <div id="side">
          <div id="cart">
          <% if @cart %>
            <%= render @cart %>
          <% end %>
        </div>
          <ul>
          <li><a> <%= link_to "Поприветствовать", rail_cont_hello_path %> </a></li>
         <li><a href="/store/index">Магазин</a></li>
         <li><a href="/carts">Корзины</a></li>
          <li><a href="/rail_cont/goodbye">Вопросы</a></li>
         <li><a href="/products">Менежмент</a></li>
          </ul>
        </div>
        <div id="main">
        <%= yield %>
        </div>
   </div>
   </body>
 </html>
